
body {
    background: url("../images/Frozen-movie-poster.jpg") left 50% bottom 45%;
    background-size: cover;
}

.login-container {
    /*width: 500px;*/
    margin: 5rem 63% 0 8%;
    padding: 1rem 2rem;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .7);
    /*text-align: center;*/
}

.login-container .row {
    /*text-align: left;*/
}

.login-container input {
    display: inline-block;
    margin: .5rem 1rem;
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid deepskyblue;
    /*width: 100px;*/
}

.login-container button {
    outline: none !important;
    cursor: pointer;
    border-radius: 8px;
    padding: .5rem 2rem;
    margin: 0 1rem;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
    color: floralwhite;
}

.login-container button:hover {
    background-color: floralwhite;
    color: deepskyblue;
}

.button-row {
    text-align: center;
    margin: 1rem auto;
}

